# pnpm add <pkg> automatically installs any missing peer dependencies as dev dependencies
# https://pnpm.io/npmrc#auto-install-peers
# auto-install-peers = true

# Allow running postinstall script in Docker
# unsafe-perm = true

# Set empty tag version prefix
tag-version-prefix = ""

# Don't use ^ when adding packages, prefix with nothing, see:
# https://pnpm.io/npmrc#save-prefix
save-prefix = ""

# https://pnpm.io/npmrc#link-workspace-packages
# link-workspace-packages = false
# link-workspace-packages = deep

# Don't use the workspace protocol.
# https://pnpm.io/npmrc#save-workspace-protocol
# save-workspace-protocol = false
# save-workspace-protocol = rolling

# This makes installations on branches that aren't up to date less stressful by
# preserving the latest version in the current workspace.
# https://pnpm.io/npmrc#prefer-workspace-packages
# prefer-workspace-packages = true

# Set the publish branch to prevent unintentional publishing.
publish-branch = "main"

# Version 5.2.0 introduces automatic hoisting of `@types/*`. I'm turning it off
# for now.
# shamefully-hoist = false

# hoist = true
# shamefully-hoist = true

# Support cross platform shell commands.
# shell-emulator=true

# Added since the shell-emulator seems to remove colors from output. There is a
# warning against using this setting in the docs.
# https://pnpm.js.org/en/npmrc#color
# color=always

# Don't check the workspace root when installing workspace dependencies
ignore-workspace-root-check = true

loglevel = warn

# strict-peer-dependencies = false

# https://pnpm.io/npmrc#engine-strict
# engine-strict = true

# https://pnpm.io/npmrc#auto-install-peers
# auto-install-peers = true

# https://pnpm.io/npmrc#link-workspace-packages
# link-workspace-packages = true

# https://pnpm.io/npmrc#shared-workspace-lockfile
# shared-workspace-lockfile = false

# https://pnpm.io/npmrc#prefer-workspace-packages
# prefer-workspace-packages = true

# https://pnpm.io/npmrc#save-workspace-protocol
# save-workspace-protocol = rolling

# https://pnpm.io/npmrc#resolution-mode
# resolution-mode = highest

# auto-install-peers = true
# strict-peer-dependencies = false
# prefer-workspace-packages = true
# link-workspace-packages = deep
# hoist = true
# shamefully-hoist = true
# loglevel = warn

# always-auth = false
# allow-same-version = true
# auto-install-peers = false
# enable-pre-post-scripts = true
# git-tag-version = false
# link-workspace-packages = true
# message = "chore(release): publish %s"
# public-hoist-pattern[] = @types/*
# public-hoist-pattern[] = *eslint*
# public-hoist-pattern[] = *jest*
# public-hoist-pattern[] = *prettier*
# registry = "https://npm.pkg.github.com"
# strict-peer-dependencies = false

{SCOPE}:registry=https://npm.pkg.github.com
